.mylogo {
  /* width: 543px; */
  /* height: 214px; */
  width: 389px;
  height: 153px;
}
.centered {
  margin-top: 60px;
  margin-bottom: 106px;
  padding-top: 60px;
  text-align: center;
}
.mytitle {
  font: 45px bold, cairo;
  color: #253685;
}
.mytext {
  font: 21px, cairo;
  color: #707070;
}
.myCard {
  border-radius: 22%;
  height: 231px;
}
.deck {
  margin: 5%;
}
.myCard-1 {
  background-image: url("https://storage.googleapis.com/alexform/DSC09994.jpg");
  background-size: cover;
  border: 1px solid #707070;
}
.myCard-2 {
  background-image: url("https://storage.googleapis.com/alexform/Form.JPG");
  background-size: cover;
  border: 1px solid #707070;
}
.myCard-3 {
  background-image: url("https://storage.googleapis.com/alexform/alexform-3.jpg");
  background-size: cover;
  border: 1px solid #707070;
}
.myCard-4 {
  background-image: url("https://storage.googleapis.com/alexform/PANEL%20(1).jpg");
  background-size: cover;
  border: 1px solid #707070;
}

.myCard-5 {
  background-image: url("https://storage.googleapis.com/alexform/alexform-5.jpg");
  background-size: cover;
}
.myCard-6 {
  background-image: url("https://storage.googleapis.com/alexform/alexform-5.jpg");
  background-size: cover;
}
.centerText {
  text-align: center;
  margin-top: 42px;
  color: #707070;
}
.card-big {
  border: 0px;
}
.blue {
  color: #253685;
}
@media screen and (max-width: 600px) {
  .mytitle {
    font: 30px bold, cairo;
  }
  .mytext {
    font: 16px, cairo;
  }
  .mylogo {
    width: 260px;
    height: 102px;
  }
}
.hovering:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  border-radius: 22%;
}
/* .myCard-2:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  border-radius: 22%;
}
.myCard-3:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  border-radius: 22%;
}
.myCard-4:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  border-radius: 22%;
}
.myCard-5:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  border-radius: 22%;
} */

.bottom-text {
  margin-top: 60px;
  margin-bottom: 10px;
  padding-top: 60px;
  text-align: center;
}
.bottom-text2 {
  text-align: center;
  margin-bottom: 106px;
}
